<% provide(:title, "Booking Info : "+ @holiday.id ) %>
<div class="row">
    
   <li>Holiday Id    -   <%= @holiday.id %> </li> 
   <li>Holiday Name  -   <%= @holiday.name %> </li> 
   <li>Date          -   <%= @holiday.hdate.to_s %></li>
   <li>Status        -   <%= @holiday.status.to_s %></li>


</div>

