<% provide(:title, ' All Bookings ') %>
<h1>All Rooms</h1>



<ul class="confroombookings">
  <% @confroombookings.each do |confroombooking| %>

      <%= render confroombooking %>
      
  <% end %>
</ul>

